@inject IJSRuntime JSRuntime

<div class="form-inline">
    <button type="button" class="btn btn-light" @onclick="CopyTextToClipboard">&#128203;</button>
    <input class="form-control form-control-plaintext" style="background-color: rgba(0, 0, 0, 0);flex-grow: 1" readonly type="text" value="@Text" />
</div>

@code
{
    [Parameter] public string Text { get; set; }

    private async Task CopyTextToClipboard()
    {
        await JSRuntime.InvokeVoidAsync("navigator.clipboard.writeText", Text);
    }
}